version: "3.8"

services:
  node:
    build:
      context: .
      dockerfile: ./node/Dockerfile
    container_name: node
    ports:
      - ${NODE_PORT}:${NODE_PORT}
    restart: "no"
    volumes:
      - ./node/uploads:/usr/src/app/uploads
    depends_on:
      - postgres

  vue:
    # build:
    #   context: .
    #   dockerfile: ./vue/Dockerfile
    image: nginx:1.25
    container_name: vue
    ports:
      - 80:80
      - 443:443
    restart: "no"
    volumes:
      - ./vue/dist:/usr/share/nginx/html
      - ./vue/default.conf:/etc/nginx/conf.d/default.conf
      - ./_.reconext.com.2024.pem:/etc/nginx/certs/_.reconext.com.2024.pem
    depends_on:
      - node

  postgres:
    image: postgres:14.5
    container_name: postgres
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    restart: "no"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: "no"
    ports:
      - ${PGADMIN_PORT}:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
